{% extends 'auctions/base.html' %}

{% block title %}
About | eAuction Pune
{% endblock %}

{% block head %}
<style>
    body {
        background: linear-gradient(to bottom right, rgb(21, 20, 20) 50%, rgb(101, 100, 100));
        margin: 0;
        padding: 0;
    }

    .title-welcome {
        text-align: center;
        font-style: oblique;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 50px;
        color: white;
        padding-top: 90px;
    }

    p {
        text-indent: 50px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        letter-spacing: 2px;
        line-height: 1.5;
        color: wheat;
    }

    .wrapper-about {
        height: 100vh;
        box-sizing: border-box;
    }
</style>
{% endblock %}

{% block body %}

<div class="wrapper-about">
    <div class="title-welcome">Welcome to eAuction Pune</div>
    <h3 style="text-align: center; margin-top: 0%; padding-top: 0%; color: wheat;">A Platform to Buy in and Sell Out
    </h3><br><br>
    <p>eAuction Pune is a platform for Government Departments to conduct online actions for sale
        and purchase. It removes all barriers of geography, presence, time, space, and a small
        target audience. Propelled by a versatile, safe and secured engine developed by National
        Informatics Centre, many users have witnessed multi fold increase in revenue in auctions
        conducted over a diverse range.
    </p>
</div>

{% endblock %}