{% load static %}

<html lang="en">

<head>
    <title>{% block title %}eAuction Pune{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'auctions/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'auctions/img/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'auctions/css/style.css' %}">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Template Main JS File -->
    <script src="{% static 'auctions/js/main.js' %}"></script>

    {% block head %}
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">

    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="./auctions/static/auctions/img/auction.jpeg" target="_blank">
                    <img src="./auctions/static/auctions/img/auction.jpeg" width="30" height="30"
                        class="d-inline-block align-top" alt="" />
                    <a href="./about.html" target="_blank">eAuction Pune</a>
                </a>
            </nav>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <input class="fa fa-search form-control mr-sm-2" id="iconified" type="search"
                        placeholder="&#xF002 Search" aria-label="Search" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        Search</button>
                </form>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./newfile.html">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Auctions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Ongoing Auctions</a>
                            <a class="dropdown-item" href="#">Previous auctions</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="./feedback.html">Help</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./signup.html">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login.html">Login</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark justify-content-between custom-navbar">

            <a class="navbar-brand ml-auto " href="/">
                <img src="{% static 'auctions/img/auction.jpeg' %}" alt="logo" style="width:60px; ">
            </a>
            <div class="custom-navbar-title"><strong>eAuction Pune </strong><br>
                <h2>A secure, transparent platform for <p>conducting Electronic Auctions</p>
                </h2>
            </div>

            <div class="collapse navbar-collapse" id="navbarid">

                <form class="form-inline ml-auto my-auto" action="{% url 'search_results' %}" method="GET">

                    <div class="form-group">
                        <input name="q" type="text" class="fa fa-search form-control empty" id="iconified"
                            placeholder="&#xF002;  Auction Search" />
                    </div>
                    &nbsp;
                    <!-- <input class="form-control mr-auto " type="text" placeholder="<i class='icon-search'></i>"> --
                    <button class="btn btn-success" type="submit">Search</button>
                </form>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'about' %}">ABOUT</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Watchlist</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'register' %}">SIGN UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">LOG IN</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav> -->
    </header>

    {% block body %}
    {% endblock %}

    <footer class="py-2 flex-shrink-0 mt-auto custom-footer">
        <div class="container text-center ">
            <span class="footer-text text-light">
                <a class="text-light" href="{% url 'about' %}">About</a>
                &emsp;&emsp;&emsp;|&emsp;&emsp;&emsp;
                <a href="mailto:rugvedij1804@gmail.com" target="_blank" class="text-light">Email Me</a>
                &emsp;&emsp;&emsp; | &emsp;&emsp;&emsp;Terms & Conditions &emsp;&emsp;&emsp;| &emsp;&emsp;&emsp;Contact
                Us :
                &nbsp;
                <i class="fa fa-phone" style="font-size:18px"></i> &nbsp;1234567891
            </span>
            <br>
            <div class="footer-text text-light" style="padding-top: 7px;">&copy; 2021 Copyright & Designed by
                <a class="text-light" href="https://atharvacm.netlify.app" target="_blank">Atharva Mahamuni & Rugvedi
                    Jamgaonkar
                </a>
            </div>

        </div>
    </footer>
</body>

</html>