{% load static %}

<html lang="en">

<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link
        href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAffIAAFKeAABfkSkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIiIiIiIiIgIzMzMTMzMyAjMzEREzMzICMzMzExMzMgIzMzERMzMyAjMzExMzMzICMzMxETMzMgIzMzMTMzMyAiIiIiIiIiIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AAD//wAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAA//8AAP//AAD//wAA"
        rel="icon" type="image/x-icon" /> -->
    <link rel="shortcut icon" href="{% static 'auctions/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'auctions/img/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-sm navbar-fixed-top bg-dark navbar-dark justify-content-between">

        <a class="navbar-brand mr-auto" href="#">
            <img src="{% static 'auctions/img/auction.jpeg' %}" alt="logo" style="width:40px;"> E - AUCTION
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <form class="form-inline ml-auto my-auto ">
                <input class="form-control mr-sm-1 " type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">SIGN UP</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

    <footer class="py-2 bg-dark flex-shrink-0 mt-auto">
        <div class="container text-center">
            <span class="footer-text text-light">&copy; 2021 Copyright & Designed by</span>
            <a href="https://atharvacm.netlify.app" target="_blank">Atharva Mahamuni</a>
        </div>
    </footer>
</body>

</html>