{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}eAuction Pune{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'auctions/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'auctions/img/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'auctions/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'auctions/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/css/style.css' %}">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">

    <script src="{% static 'auctions/js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="{% static 'auctions/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Template Main JS File -->
    <script src="{% static 'auctions/js/main.js' %}"></script>

    {% block head %}
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">

    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
            <div class="navbar navbar-light ">
                <img src="{% static 'auctions/img/auction.jpeg' %}" width="50" height="50"
                    class="d-inline-block align-top " alt="logo" />
                <strong
                    style="font-family:'Times New Roman', Times, serif ; font-size: 28px; margin-left: 12px; ">eAuction
                    Pune </strong>
            </div>
            <!-- 'Satisfy', serif -->


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'search_results' %}" method="GET">
                    <input name="q" type="text" class="fa fa-search form-control empty" id="iconified"
                        placeholder="&#xF002;  Auction Search" />
                    <button class="btn btn-outline-success my-2 my-sm-0 mx-auto ml-md-2 nav-form-btn" type="submit">
                        Search</button>
                </form>
                <ul class="navbar-nav ml-auto" style="font-size: 18px;">
                    {% url 'index' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">Home </a>
                    </li>
                    {% url 'about' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    {% url 'create_listing' as url1 %}
                    {% url 'display_category' as url2 %}
                    {% url 'closed_listings' as url3 %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.path == url1 or request.path == url2 or request.path == url3 %}active{% endif %}"
                            href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Auctions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'create_listing' %}">Create Listing</a>
                            <a class="dropdown-item" href="{% url 'display_category' %}">Ongoing Auctions</a>
                            <a class="dropdown-item" href="{% url 'closed_listings' %}">Previous Auctions</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'terms' %}">Terms & Conditions</a>
                            <a class="dropdown-item" href="{% url 'help_and_support' %}">Feedback Form</a>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                            <a class="dropdown-item" href="{% url 'display_watchlist' %}">Watchlist</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    {% url 'register' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{% url 'register' %}">Signup</a>
                    </li>
                    {% url 'login' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    {% block body %}
    {% endblock %}

    <footer class="mainfooter custom-footer" role="contentinfo">
        <!-- <div class="footer-top p-y-2">
            <div class="container-fluid">

            </div>
        </div> -->
        <div class="footer-middle mt-2">
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Address</h4>
                            <address>
                                <ul class="list-unstyled">
                                    <li>
                                        Modern College, <br>
                                        Shivajinagar,<br>
                                        Pune - 02.<br>
                                    </li>
                                </ul>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>About Company</h4>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'index' %}">Go to Home Page</a></li>
                                <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Useful Links</h4>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'display_category' %}">Ongoing Auctions</a></li>
                                <li><a href="{% url  'closed_listings' %}">Previous Auctions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Contact Us</h4>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-phone" style="font-size:18px"></i> &nbsp;1234567891</li>
                                <li><a href="mailto:rugvedij1804@gmail.com">Email Me</a></li>
                                <li><a href="{% url 'help_and_support' %}">Help & Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <!--Footer Bottom-->

                        <p class="text-xs-center">&copy; Copyright 2021 & Designed by
                            <a href="https://atharvacm.netlify.app" target="_blank">Atharva
                                Mahamuni
                            </a>and
                            <a href="https://github.com/rugvedi18" target="_blank">Rugvedi
                                Jamgaonkar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>