{% extends 'auctions/base.html' %}

{% block title %}
About | eAuction Pune
{% endblock %}

{% block body %}

<div>
  <form class="feedback">
    <div class="mb-3">
      <label for="validationTextarea" class="form-label text-title">Feedback</label>
      <textarea class="form-control text-area" id="validationTextarea" placeholder="Enter your feedback"
        required></textarea>
      <button class="btn btn-lg btn-primary mt-4" type="submit">Submit</button>
    </div>
  </form>
</div>

{% endblock %}