<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Feedback Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div style="border: 1px solid black; margin: 200px 2000px 0px 200px">
    <div style="height: min-content; width: min-content; border: 1px solid blue">
      <label for="feedback">Feedback:</label>
    </div>
    <div style="height: min-content; width: min-content; border: 1px solid brown">
      <textarea id="feedback" name="feedback" rows="4" cols="50"> </textarea>
    </div>
    <div style="height: min-content; width: min-content; border: 1px solid green">
      <input type="submit" value="Submit" />
    </div>
  </div>
</body>

</html>