{% extends 'auctions/base.html' %}

{% block body %}
<!-- <h1>index page</h1> -->
<!-- <a href="{% url 'display_category' %}">View Listings</a> -->

<section id="hero-section">
    <!-- <div class="description" style=" margin-top: 40px;"
        <!-- <p style="margin: 15px; word-spacing: 2px; line-height: 50px; font-size: 30px;">A Platform to Buy in and Sell
            Out

            eAuction Pune is a platform for Government Departments to conduct online auctions for sale and purchase.
            It removes all barriers of geography, presence, time, space, and a small target audience.
            Propelled by a versatile, safe and secured engine developed by National Informatics Centre, many users have
            witnessed multi fold increase in revenue in auctions conducted over a diverse range.
        </p><br><br><br><br><br> --
    </div> -->
    <div class="hero-container">
        <h1>eAuction Pune</h1>
        <h2>A secure, transparent platform for conducting Electronic Auctions</h2>
        <a href="#active-listing-sec" class="btn-scroll" title="Scroll Down"><i class="fa fa-caret-down"
                aria-hidden="true"></i></a>
    </div>
</section>

<section id="active-listing-sec" class="mt-5">
    <div class="section-title">
        <span>Ongoing Auctions</span>
        <h2>Ongoing Auctions</h2>
        <!-- <p>Makaveli in this kIlluminati</p> -->
    </div>
    <div class="container mt-5">
        <div class="row">
            {% for listing in listings %}
            <div class="col-sm-4 mb-5">
                <div class="card">
                    <img class="card-img-top" src="{{listing.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{listing.title}}</h5>
                        <p class="card-text">{{listing.description}}</p>
                        <a href="{% url 'display_listing' listing.pk %}" class="btn btn-primary">Go to
                            Listing</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <a href="{% url 'display_category' %}" style="color: brown;">View more...</a>
    </div>

</section>

<!-- <div class="container" style="overflow: hidden;">
    <div class="row">
        <div class="col-6">
            <h2 id="title">Active Listings </h2>
        </div>
        <div class="col-6">
            <form class="float-right" action="{% url 'display_category' %}" method="post">
                {% csrf_token %}
                <select name="category" class="form-select btn btn-outline-dark" aria-label="Default select example">
                    <option selected><a href="#">All Categories</a></option>
                    {% for catagory in listings%}
                    <option value="{{ catagory }}">{{ catagory }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-outline-dark" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div> -->
{% endblock %}