{% extends 'auctions/base.html' %}

{% block title %}Sign UP | eAuction Pune{% endblock %}

{% block body %}
<section id="register-sec">
    <div class="register-wrapper">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block mx-auto signin-img">

            </div>

            <div class="col-lg-5 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">
                        <a class="w3-xlarge" href="{% url 'index' %}"><i class="fa fa-home"></i></a>
                        <h5 class="card-title text-center mb-0">Registration Form</h5>
                        <hr style="height:1px; border-width:0; color: white; background-color:rgb(0, 0, 0); ">
                        <form class="form-signin" method="POST">
                            {% csrf_token %}
                            <div class="form-label-group">
                                <input type="text" name="fname" id="inputFname" class="form-control"
                                    placeholder="First Name" required autofocus>
                                <label for="inputFname">First Name</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" name="lname" id="inputLname" class="form-control"
                                    placeholder="Last Name" required>
                                <label for="inputLname">Last Name</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" name="username" id="inputUserame" class="form-control"
                                    placeholder="Username" required>
                                <label for="inputUserame">Username</label>
                            </div>

                            <div class="form-label-group">
                                <input type="tel" name="age" id="inputAge" class="form-control" placeholder="Age"
                                    required>
                                <label for="inputAge">Age</label>
                            </div>

                            <div class="form-label-group non-mobile">
                                <input type="text" id="dummy" class="form-control" />
                                <label for="radio">
                                    <h6>Gender :
                                        <span class="ml-3"> Male <input type="radio" name="gender" value="M"></span>
                                        <span class="ml-1"> Female <input type="radio" name="gender" value="F"></span>
                                        <span class="ml-1"> Other <input type="radio" name="gender" value="O"></span>
                                    </h6>
                                </label>
                            </div>
                            <div class="form-label-group mobile">
                                <select name="gender" id="inputGender" class="form-control" required>
                                    <option value="" disabled selected hidden>Gender</option>
                                    <option value="O">Other</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                                <!-- <label for="inputGender">Gender</label> -->
                            </div>

                            <div class="form-label-group">
                                <input type="text" name="phone" id="inputPhone" class="form-control"
                                    placeholder="Mobile No." required>
                                <label for="inputPhone">Mobile No.</label>
                            </div>

                            <div class="form-label-group">
                                <input type="email" name="email" id="inputEmail" class="form-control"
                                    placeholder="Email" required>
                                <label for="inputEmail">Email</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" name="address" id="inputAddress" class="form-control"
                                    placeholder="Address" required>
                                <label for="inputAddress">Address</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                    placeholder="Password" required>
                                <label for="inputPassword">Password</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" name="confirmation" id="inputConfirmPassword"
                                    class="form-control" placeholder="Confirm password" required>
                                <label for="inputConfirmPassword">Confirm password</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">Register</button>
                            <a class="d-block text-center mt-4" href="{% url 'login' %}">Already have an account?
                                Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}