<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Klee One', cursive;
        }
    </style>
</head>

<body>
    <h1>Limitations of Liability</h1>

    We will not be liable for indirect, special, or consequential damages (or any loss of revenue, profits, or data)
    arising
    in connection with this Agreement or the Program, even if we have been advised of the possibility of such damages.
    Further, our aggregate liability arising with respect to this Agreement and the Program will not exceed the total
    referral fees paid or payable to you under this Agreement.


    <h1>Disclaimers</h1>

    We make no express or implied warranties or representations with respect to the Program or any products sold through
    the
    Program (including, without limitation, warranties of fitness, merchantability, noninfringement, or any implied
    warranties arising out of a course of performance, dealing, or trade usage). In addition, we make no representation
    that
    the operation of the The Bootstrap Themes will be uninterrupted or error-free, and we will not be liable for the
    consequences of any interruptions or errors.


    <h1>Ownership</h1>

    The Bootstrap Themes claims ownership on all of its products. Hence, you may not demand your any kind of
    proprietorship
    over any of our products, modified or unmodified. We provide our products without any warranty, as it is. You cannot
    hold our legit person accountable to any kind of damage including, but not limited to direct, indirect, special,
    incidental or consequential damages or other losses caused due to inefficiency in using our products.


    <h1>Email</h1>

    We occasionally send you emails concerned with the purchase of the product(s) from our company. We also send you
    email
    newsletters concerning the WordPress and bootstrap themes promotions and updates. We assure you that we do not sell
    or
    release your email to any third party vendors. You may withdraw your emails at any time without fine or penalty.


    <h1>License Agreement</h1>

    We believe that you have provided your full consent and read and agreed to the Terms and Conditions mentioned and
    explained on this page while purchasing our product(s). We hold the right to change or modify the present Terms and
    Conditions solely without any prior consent or notice.
</body>

</html>